////
///@access public
///@author Salvador Muñoz
////

///Variables

/// @group colores
$color-fondo:  rgb(250, 243, 236);
/// @group colores
$color-fondo-secundario: white;

/// @group colores
$color-fuente: black;
/// @group colores
$color-fuente-secundario: white;

/// @group colores
$color-terciario: rgb(141, 102, 71);
/// @group colores
$color-terciario-oscuro: darken($color-terciario, 10%);

/// @group colores
$color-menu-activo: lighten($color-terciario, 6%);
/// @group colores
$color-menu-hover: darken($color-menu-activo, 10%);

/// @group colores
$color-borde-card-figure:  rgb(211, 211, 211);



/// @group size
$icon-pc-size: 20px;
/// @group size
$header-pc-height-size: 100px;
/// @group size
$header-pc-width-size: 80%;
/// @group size
$carousel-arrow-width-size: 50px;
/// @group size
$pc-title-essence-size: 1.8rem;
/// @group size
$pc-title-decoracion-size: 1rem;
/// @group size
$text-pc-size: 1.3rem;
/// @group size
$keyword-pc-size: 6.5rem;
/// @group size
$h2-pc-size: 1.2rem;

/// @group size
$carousel-height-size: 250px;

/// @group size
$icon-small-size: 15px;
/// @group size
$header-small-height-size: 60px;
/// @group size
$header-small-width-size: 100%;
/// @group size
$menu-small-height-size: 60px;
/// @group size
$small-title-essence-size: 1.1rem;
/// @group size
$small-title-decoracion-size: 0.7rem;
/// @group size
$small-profile-picture-size: 50%;

/// @group size
$text-size: .9rem;
/// @group size
$keyword-size: 4rem;
/// @group size
$h2-size: 1.2rem;

///Breakpoints

/// @group dimensiones
$breakpoint-tablet: 576px;
/// @group dimensiones
$breakpoint-pc: 992px;

///Estilos

/// @group estilos
$estilo-fuente-general: 'Poppins', sans-serif;

///Bordes

/// @group bordes
$border-bottom-card-figure: 1px solid $color-borde-card-figure;

///Efectos de animación

/// @group animacion
$efecto-animacion-diapositiva-carrusel: ease-out;