////
/// @access public
/// @author Salvador Muñoz
/// @group main
////

@import "variables.scss";
@import "funciones.scss";
@import "style-tablet.scss";
@import "style-pc.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

///Eliminar margen por defecto
body,
.container,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

///Eliminar decoración de enlaces por defecto
a {
    text-decoration: none;
}

.general-font-style{
    font-family: $estilo-fuente-general;
}

///Container
.container {
    background-color: $color-fondo;
    width: 100%;

    ///Header
    header {
        position: fixed;
        z-index: 2;
        width: 100%;

        ///Menu para movil y tablet
        .menu-oculto {
            background-color: $color-fondo-secundario;
            height: $header-small-height-size;
            width: $header-small-width-size;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                margin: 0 20px;
                width: $icon-small-size;
            }

            .cart-section {
                background-color: $color-terciario;
                height: 100%;
                position: relative;
                width: 70px;
            }

            .cart {
                position: absolute;
                top: 34%;
                left: 7%;
                width: 17px;
            }
        }

        ///Menu para PC
        .menu {
            display: none;
        }
    }

    ///Sección del menú de links hacia otras paginas internas
    #links {
        display: flex;
        height: $menu-small-height-size;
        width: 100%;
        align-items: center;
        position: fixed;
        top: 60px;
        transition: all 0.3s ease-in;
        z-index: 1;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;

        a {
            align-items: center;
            background-color: $color-menu-activo;
            color: $color-fuente-secundario;
            display: flex;
            font-size: $text-size;
            height: 100%;
            justify-content: center;
            width: 50%;
        }

        a:hover {
            background-color: $color-menu-hover;
        }
    }

    ///Main
    main {
        background-color: $color-fondo;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        top: 60px;
        z-index: 0;

        ///Sección del main que contiene el texto de bienvenida a la página principal
        .texto {
            display: flex;
            flex-direction: column;
            height: 250px;
            padding: 60px 25px;

            p {
                color: $color-terciario;
                font-size: $text-size;
            }

            ///Formateo de la palabra clave del texto
            #keyword {
                font-size: $keyword-size;
            }

            a {
                background-color: $color-terciario;
                color: $color-fuente-secundario;
                margin-top: 60px;
                padding: 14px;
                text-align: center;
                width: 120px;
            }

            a:hover {
                background-color: $color-terciario-oscuro;
            }
        }

        ///Sección del main que contiene el carrusel
        .carousel {
            background-color: $color-fondo-secundario;
            overflow-x: hidden;

            .carousel_nav {
                display: none;
            }

            figure {
                --n: 1;
                display: flex;
                height: $carousel-height-size;
                overflow-y: hidden;
                width: 100%;
                width: calc(var(--n)*(100%));
                transform: translate(calc(var(--i, 0)/var(--n)*-100% + var(--tx, 0px)));
                
                img {
                    //min-width: 100%;
                    pointer-events: none;
                    width: 100%;
                    width: calc((100%)/var(--n));
                }
            }
        }

        .card{
            background-color: $color-fondo-secundario;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            height: 320px;
            margin: 30px auto;
            width: 70%;

            figure{
                align-items: center;
                border-bottom: $border-bottom-card-figure;
                display: flex;
                justify-content: center;
                overflow-y: hidden;
                width: 100%;
                img{
                    padding: 5px;
                    width:90%;
                }
            }

            h2, p, a{
                margin: 0 10px;
            }

            h2{
                font-size: $h2-size;
                margin-top: 10px;
            }

            p{
                margin-top: 30px;
            }

            a{
                display: block;
                margin-top: 10px;
                padding-bottom: 10px;
            }
        }

        .contact{
            width: 80%;

            figure img{
                width: $small-profile-picture-size;
            }

            p{
                font-size: $text-size;
                margin-top: 10px;
            }
        }

    }

    footer{
        background-color: $color-fondo-secundario;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 90px;
        margin-top: 80px;
        padding: 20px 0;
        position: relative;
        width: 100%;
        z-index: 3;

        p, a{
            font-size: $text-size;
        }

        .right-footer-section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            .title{
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }
}

///Clase para esconder la parte del menu con links a paginas internas
.hide {
    transform: translateY(-$menu-small-height-size);
    -webkit-transform: translateY(-$menu-small-height-size);
    -moz-transform: translateY(-$menu-small-height-size);
    -ms-transform: translateY(-$menu-small-height-size);
    -o-transform: translateY(-$menu-small-height-size);
}

///Clase para mostrar la parte del menu con links a paginas internas
.show {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

///Clase para la transición de la diapositiva
.smooth { 
    transition: transform .5s #{$efecto-animacion-diapositiva-carrusel}; 
}

///Clase para dar estilo al logo de la página
.title {
    align-items: center;
    color: $color-fuente;
    display: flex;
    text-align: center;
    width: 50%;

    .essence-word {
        font-size: $small-title-essence-size;
        text-align: end;
        margin-right: 5px;
    }

    .decoracion-word {
        background-color: $color-terciario;
        color: $color-fuente-secundario;
        font-size: $small-title-decoracion-size;
        padding: 1px 2px;
        text-align: start;
    }
}