body,
.container,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  background-color: #faf3ec;
  width: 100%;
}
.container header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.container header .menu-oculto {
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container header .menu-oculto img {
  margin: 0 20px;
  width: 15px;
}
.container header .menu-oculto .title {
  align-items: center;
  color: black;
  display: flex;
  text-align: center;
  width: 50%;
}
.container header .menu-oculto .title .essence-word {
  font-size: 1rem;
  text-align: end;
  margin-right: 5px;
}
.container header .menu-oculto .title .decoracion-word {
  background-color: #945f46;
  color: white;
  font-size: 0.5rem;
  padding: 1px 2px;
  text-align: start;
}
.container header .menu-oculto .cart-section {
  background-color: #945f46;
  height: 100%;
  position: relative;
  width: 70px;
}
.container header .menu-oculto .cart {
  position: absolute;
  top: 34%;
  left: 7%;
  width: 17px;
}
.container header .menu {
  display: none;
  position: absolute;
  left: 10%;
  top: 30px;
}
.container #links {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 60px;
  transition: all 0.3s ease-in;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.container #links a {
  align-items: center;
  background-color: #945f46;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 50%;
}
.container #links a:hover {
  background-color: #714936;
}
.container main {
  position: relative;
  top: 60px;
  z-index: 0;
}
.container main .texto {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 60px 25px;
}
.container main .texto p {
  color: #945f46;
  font-size: 1rem;
}
.container main .texto #keyword {
  font-size: 4.5rem;
}
.container main .texto a {
  background-color: #945f46;
  color: white;
  margin-top: 60px;
  padding: 14px;
  text-align: center;
  width: 120px;
}
.container main .texto a:hover {
  background-color: #714936;
}
.container main .carousel {
  background-color: white;
  overflow-x: hidden;
}
.container main .carousel .carousel_nav {
  display: none;
}
.container main .carousel figure {
  --n: 1;
  display: flex;
  height: 250px;
  overflow-y: hidden;
  width: 100%;
  width: calc(var(--n)*(100%));
  transform: translate(calc(var(--i, 0)/var(--n)*-100% + var(--tx, 0px)));
}
.container main .carousel figure img {
  pointer-events: none;
  width: 100%;
  width: calc((100%)/var(--n));
}

.hide {
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
}

.show {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.smooth {
  transition: transform 0.5s ease-out;
}

/*# sourceMappingURL=style.css.map */
