@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@media (min-width: 576px) {
  .menu-oculto img {
    width: 20px !important;
  }

  #figImg {
    height: 475px !important;
  }

  .card {
    width: 40% !important;
  }
  .card figure img {
    width: 50% !important;
  }
}
@media (min-width: 992px) {
  header {
    height: 0;
    position: relative !important;
    z-index: 5;
  }
  header .menu-oculto {
    display: none !important;
  }
  header .menu {
    display: flex !important;
    background-color: white;
    height: 100px;
    justify-content: space-between;
    position: relative;
    top: 20px;
    left: 10%;
    width: 80%;
    align-items: center;
  }
  header .menu img {
    margin: 0 20px !important;
    width: 20px !important;
  }
  header .menu .cart-section {
    background-color: #8d6647 !important;
    height: 100%;
    position: relative !important;
    width: 90px !important;
  }
  header .menu .cart {
    position: absolute !important;
    top: 38% !important;
    left: 15% !important;
  }
  header .menu .links-menu {
    display: flex;
    height: 100%;
    width: 30%;
  }
  header .menu .links-menu a {
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    font-size: 0.9rem;
    height: 100%;
    justify-content: center;
    width: 50%;
  }
  header .menu .links-menu a:hover {
    align-items: center;
    background-color: #a17551;
    color: white;
    display: flex;
    font-size: 0.9rem;
    height: 100%;
    justify-content: center;
    width: 50%;
  }

  #links {
    display: none !important;
  }

  main {
    flex-wrap: nowrap !important;
  }
  main .texto {
    margin-top: 160px;
    height: 100% !important;
    padding-right: 0;
    width: 25% !important;
    z-index: 1;
  }
  main .texto p {
    font-size: 1.3rem !important;
    font-weight: lighter;
  }
  main .texto #keyword {
    font-size: 6.5rem !important;
    text-shadow: 4px 4px 6px #493525;
  }
  main .carousel {
    width: 75% !important;
    position: relative !important;
    top: -60px !important;
  }
  main .carousel #figImg {
    height: 100% !important;
  }
  main .card {
    height: 400px !important;
    width: 30% !important;
  }
  main .card figure {
    height: 300px;
  }
  main .card figure img {
    width: 50% !important;
  }

  .main-cards {
    margin-top: 100px;
    flex-wrap: wrap !important;
  }

  .title {
    margin-left: 30px;
  }
  .title .essence-word {
    font-size: 1.8rem !important;
  }
  .title .decoracion-word {
    font-size: 1rem !important;
  }
}
body,
.container,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

.general-font-style {
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #faf3ec;
  width: 100%;
}
.container header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.container header .menu-oculto {
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container header .menu-oculto img {
  margin: 0 20px;
  width: 15px;
}
.container header .menu-oculto .cart-section {
  background-color: #8d6647;
  height: 100%;
  position: relative;
  width: 70px;
}
.container header .menu-oculto .cart {
  position: absolute;
  top: 34%;
  left: 7%;
  width: 17px;
}
.container header .menu {
  display: none;
}
.container #links {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 60px;
  transition: all 0.3s ease-in;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.container #links a {
  align-items: center;
  background-color: #a17551;
  color: white;
  display: flex;
  font-size: 0.9rem;
  height: 100%;
  justify-content: center;
  width: 50%;
}
.container #links a:hover {
  background-color: #7f5c40;
}
.container main {
  background-color: #faf3ec;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 60px;
  z-index: 0;
}
.container main .texto {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 60px 25px;
}
.container main .texto p {
  color: #8d6647;
  font-size: 0.9rem;
}
.container main .texto #keyword {
  font-size: 4rem;
}
.container main .texto a {
  background-color: #8d6647;
  color: white;
  margin-top: 60px;
  padding: 14px;
  text-align: center;
  width: 120px;
}
.container main .texto a:hover {
  background-color: #6b4d36;
}
.container main .carousel {
  background-color: white;
  overflow-x: hidden;
}
.container main .carousel .carousel_nav {
  display: none;
}
.container main .carousel figure {
  --n: 1;
  display: flex;
  height: 250px;
  overflow-y: hidden;
  width: 100%;
  width: calc(var(--n)*(100%));
  transform: translate(calc(var(--i, 0)/var(--n)*-100% + var(--tx, 0px)));
}
.container main .carousel figure img {
  pointer-events: none;
  width: 100%;
  width: calc((100%)/var(--n));
}
.container main .card {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 320px;
  margin: 30px auto;
  width: 70%;
}
.container main .card figure {
  align-items: center;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  width: 100%;
}
.container main .card figure img {
  padding: 5px;
  width: 60%;
}
.container main .card h2, .container main .card p, .container main .card a {
  margin: 0 10px;
}
.container main .card h2 {
  font-size: 1.2rem;
  margin-top: 10px;
}
.container main .card p {
  margin-top: 30px;
}
.container main .card a {
  display: block;
  margin-top: 10px;
  padding-bottom: 10px;
}
.container main .contact {
  width: 80%;
}
.container main .contact figure img {
  width: 50%;
}
.container main .contact p {
  font-size: 0.9rem;
  margin-top: 10px;
}
.container footer {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  margin-top: 80px;
  padding: 20px 0;
  position: relative;
  width: 100%;
  z-index: 3;
}
.container footer p, .container footer a {
  font-size: 0.9rem;
}
.container footer .right-footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.container footer .right-footer-section .title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hide {
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
}

.show {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.smooth {
  transition: transform 0.5s ease-out;
}

.title {
  align-items: center;
  color: black;
  display: flex;
  text-align: center;
  width: 50%;
}
.title .essence-word {
  font-size: 1.1rem;
  text-align: end;
  margin-right: 5px;
}
.title .decoracion-word {
  background-color: #8d6647;
  color: white;
  font-size: 0.7rem;
  padding: 1px 2px;
  text-align: start;
}

/*# sourceMappingURL=style.css.map */
